//login

header{
	.arriba{
		margin:40px 0;
	}
	#box--login{
		background-color:$magenta;
		overflow:hidden;
		padding: 2em;

		@include desde (tablet-h){
			padding: 2em 5em;
		}

		@include desde (web){
			padding: 2em;
		}


		h1{
			color:$blanco;
			font-weight: $normal;
			font-style: italic;
			font-size: 1.4em;
			margin:0;

			@include desde (web){
				float: left;
				margin-left: 85px;
			}

		}


		// h1{
		// 	color:$blanco;
		// 	font-weight: $normal;
		// 	font-style: italic;
		// 	font-size: 1.4em;
		// 	margin:0;
		// }
		form#login{
			width: 100%;
			height: auto;
			margin-top: 1em;
			@include desde (hd){
				width: 60%;
				height: auto;
				margin-top: 1em;
				float: left;
				margin-left: 5%;
			}
			
			label{
				width: 100%;
				float: left;
				color:$blanco;
				margin: 0.4em 0;
				font-size: 0.9em;
			}
			input[type="text"],input[type="password"]{
				padding:6px;
				float: left;
				font-size: 0.8em;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				border:2px solid #9B1F5D;
				@include desde (base){
					width: 100%;
					padding:8px;
					font-size: 0.9em;
				}
				@include desde (web){
					width: 100%;//60
				}
			}
			button[type="submit"]{
				width: 60%;
				padding:6px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				border-top:none;
				border-left:none;
				border-right:none;
				border-bottom:2px solid #8b0253;
				margin-top: 1em;
				background-color:#b8006d;
				color:$blanco;
				transition: all .3s;
					@include desde (base){
						width: 100%;
						padding:10px;
						font-size: 1em;
						text-transform: uppercase;
					}
					@include desde (web){
						width: 100%;//60
						padding:6px;
					}
				&:hover{
					background-color:#8b0253;
				}
			}
			button.recuperar{
				text-align:right;
				color:$blanco;
				border:none;
				background:none;
				padding:0;
				text-decoration: underline;
				font-weight: $normal;
				font-style: italic;	
				font-size: 0.8em;
				margin-top: 0.8em;
				&:hover{
					background:none;
					text-decoration: none;
				}
			}
		}
	}
	// #box--blue{
	// 	//height: 435px;
	// 	height: 235px;
	// 	background-color: $cyan;
	// 	margin-top: 30px;
	// 	margin-bottom: 30px;
	// 	position:relative;
	// 	@include desde (movil){
	// 		//height: 175px;
	// 	}
	// 	@include desde (movil-h){
	// 		height: 315px;
	// 	}
	// 	@include desde (tablet){
	// 		height: 435px;
	// 	}
	// 	//@include desde (web){}		
	// 	#royalito{
	// 		width: 58%;
	// 		position:relative;

	// 		img.topR{
	// 			margin-top:20px;
	// 			@include desde (tablet){
	// 				margin-top:80px;
	// 			}
	// 		}
	// 	}
	// 	#linea_texto{
	// 		position: absolute;
	// 		top: 110px;
	// 		right: 0px;
	// 		width: 50%;
	// 		@include desde (movil){}
	// 		@include desde (tablet){
	// 			top: 170px;
	// 			right: 30px;
	// 		}
	// 		h2{
	// 			font-size: 0.8em;
	// 			color:$blanco;
	// 			font-weight: $semi-bold;
	// 			padding:0.6em;
	// 			margin-bottom: 2px;
	// 			position: absolute;
	// 			top: -90px;
	// 			right: 0;
	// 			text-align: center;
	// 			@include desde (movil){
	// 				top: -70px;
	// 			}
	// 			@include desde (movil-h){
	// 				font-size: 1.1em;
	// 			}
	// 			@include desde (tablet){
	// 				font-size: 1.2em;
	// 				top: -110px;
	// 			}
	// 		}
	// 	}
	// }//fin

#box--blue{
		//height: 435px;
		height: 145px; //235px
		background-color: $cyan;
		margin-top: 30px;
		margin-bottom: 1px;//30
		position:relative;
		@include desde (movil){
			//height: 175px;
		}
		@include desde (movil-h){
			height: 315px;
		}
		@include desde (tablet){
			height: 185px;//435
		}
		//@include desde (web){}		
		#royalito{
			width: 58%;
			position:relative;
			display: none;
			@include desde (tablet){
				display: block;
				width: 34%;
				top: -70px;
			}

			@include desde (tablet-h){
				width: 26%;
				left: 90px;
			}

			img.topR{
				margin-top:20px;
				@include desde (tablet){
					margin-top:10px;//80
				}
			}
		}
		#linea_texto{
			position: absolute;
			top: 110px;//110
			right: 0px;
			width: 99%;//50
			img{
				display: none;
			}
			@include desde (tablet){
				top: 170px;
				right: 30px;
				width: 65%;
			}
			h2{
				font-size: 1.2em;
				color:$blanco;
				font-weight: $semi-bold;
				padding:0.6em;
				margin-bottom: 2px;
				position: absolute;
				top: -102px;//-90
				right: 0;
				text-align: center;
				@include desde (movil){
					top: -70px;
				}
				@include desde (movil-h){
					font-size: 1.1em;
				}
				@include desde (tablet){
					font-size: 1.6em;//1.2
					top: -160px;//-110px
					font-style: italic;
				}
			}
		}
	}



	//checklogin

	#box--check{
		overflow:hidden;
		padding: 2em;
		position:relative;
		#royalito-check{
			position:relative;
			width: 90%;
			text-align: center;
		}
		#base--globo{
			width: 45%;
			position:absolute;
			top:170px;
			right: 0;
		}
		p.garabatos{
			position: absolute;
			color: #706F6F;

			@include desde (tablet){
				top: 7.5em;
				right: -11px;
				font-size: 1.2em;
			}
			@include desde (web){
				top: 4.5em;
				right: 0;
				font-size: 1.8em;	
			}
		}
		p.recuperar{
			position: absolute;
			color: #706F6F;
			top: 7.5em;
			right: 0px;
			font-size: 1.2em;
			font-weight: 700;
			text-transform: uppercase;
		}

		//ok encuesta
		#check-verde{
			position:absolute;
			@include desde (tablet){
				right: 40px;
				top: 100px;
			}
			@include desde (web){
				right: 60px;
			}
		}
	}


	// #box--check{
	// 	overflow:hidden;
	// 	padding: 2em;
	// 	position:relative;
	// 	#royalito-check{
	// 		position:relative;
	// 		width: 90%;
	// 		text-align: center;
	// 	}
	// 	#base--globo{
	// 		width: 45%;
	// 		position:absolute;
	// 		top:170px;
	// 		right: 0;
	// 	}
	// 	p.garabatos{
	// 		position: absolute;
	// 		color: #706F6F;

	// 		@include desde (tablet){
	// 			top: 7.5em;
	// 			right: -11px;
	// 			font-size: 1.2em;
	// 		}
	// 		@include desde (web){
	// 			top: 4.5em;
	// 			right: 0;
	// 			font-size: 1.8em;	
	// 		}
	// 	}
	// 	p.recuperar{
	// 		position: absolute;
	// 		color: #706F6F;
	// 		top: 7.5em;
	// 		right: 0px;
	// 		font-size: 1.2em;
	// 		font-weight: 700;
	// 		text-transform: uppercase;
	// 	}

	// 	//ok encuesta
	// 	#check-verde{
	// 		position:absolute;
	// 		@include desde (tablet){
	// 			right: 40px;
	// 			top: 100px;
	// 		}
	// 		@include desde (web){
	// 			right: 60px;
	// 		}
	// 	}
	// }//fin
	#alerta{

		@include desde (tablet){
			margin-top: 21em;
		}
		@include desde (web){
			margin-top: 28em;
		}
		h1{
			color: $gris_oscuro;
		}
		p.alarm{
			color: rgb(63,63,63);
			padding:1.5em;
			background-color:rgba(199,7,34,.4);
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			a{
				color:rgb(161,3,3);
			}
		}
		p.normal-text{
			font-weight: $bold;
			color: $gris_oscuro;
			text-transform: uppercase;
			font-size: 0.85em;
		}

		form#rec-contra{
			background-color:$cyan;
			padding:1.5em;
			input[type="text"]{
				padding:5px;
				font-size: 0.9em;
				width: 100%;
			}
			button[type="submit"]{
				background-color:$azul_corporativo;
				color: $blanco;
				border: none;
				padding:6px 8px;
				transition: all .3s;
				margin-top: 0.5em;
				&:hover{
					background-color:$azul_corporativo_claro;
				}
			}
		}
	}
	//boton volver
		a.ir-encuesta{
			padding: 8px 12px;
			background-color:$cyan;
			text-align: center;
			color:$blanco;
			text-transform: uppercase;
			text-decoration: none;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			margin-top: 1.5em;
			float: left;
		}
	#box--naranja{
		form#registrate{
			text-align: right;
			//background-color:$naranjo;
			padding: 0.5em 0.5em 0.5em 0.5em;
			@include desde (base){
				background-color:none;
			}
			@include desde (web){
				background-color:$naranjo;
			}
			// h2{
			// 	font-size: 1.2em;
			// 	color:$blanco;
			// 	font-weight: $semi-bold;
			// 	padding:0.6em;
			// 	margin-bottom: 2px;
			// }
			button[type="submit"]{
				background-color:#a14004;
				padding:6px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				border-top:none;
				border-left:none;
				border-right:none;
				border-bottom:2px solid #843403;
				//width: 100%;
				color: $blanco;
				text-transform: uppercase;
				text-align: center;
				transition: all .3s;
				&:hover{
					background-color:#843403;
				}

				@include desde (tablet){
					width: 30%;
					padding:1em;
				}
				@include desde (web){
					width: 100%;
				}
			}
		}
	}
}


//royalito

	.TopBox{
		background: $cyan;
		float: left;
		border-bottom: 1px solid #006b93;
		position: relative;
		left: 0;
		top: 0;
		margin-top: 30px;
		
		@include desde (tablet){
			width: 100%;
			height: 150px;
		}

		.royalito_mono{
			position: absolute;
			left: 0;
			width: 50%;
			top: -40px;
			@include desde (tablet){
				left: 70px;
				width: 30%;
				top: -65px;
			}
			@include desde (tablet-h){
				width: 25%;
				top: -95px;
			}
		}
		
		p.noob{
			color:#fff;
			font-size: 0.75em;
			padding: 1em 0;

			@include desde (tablet){
				font-size: 1.4em;
				font-weight: bold;
			}

		}
	}



#content{
	h4{
		color:$azul_corporativo;
		font-size: 1.8em;
		margin: 0 1em 0 0;
		float: left;
		line-height: 2;
	}
	.foo{
		border:2px solid $verde1;
		float: left;
		}
	.limit{
		width: 60px;
		height: 60px;
	}
	form#perfil{
		width: 100%;
		height: auto;
		margin-top:2em; 
		float: left;
		fieldset{
			width: 100%;
			position: relative;
			padding:1.8em 0.1em;  
			h1{
				margin: 0;
				top: -16px;
				position:absolute;
				color:$azul_corporativo;
				background: $blanco;
				font-size: 1.4em;
				left: 15px;
			}
			label{
				padding:0.8em 0;
				color:$azul_oscuro;
				float: left;
			}
			input[type="text"]{
				width: 100%;
				padding:4px;
				font-size: 0.8em;
			}
			select.sel{
				width: 100%;
			}
		}
		fieldset.Cacceso{
			margin-top: 2.5em;
			textarea{
				width: 100%;
				height:170px;
				resize: none;
				padding:8px;
				font-size: 0.8em;
			}
		}
		button[type="submit"]{
			background-color: $azul_corporativo_claro;
			color:$blanco;
			padding:5px 16px;
			border: none;
			margin-top: 1em;
			transition: all .3s;
			&:hover{
				background-color: $azul_corporativo;
			}
		}
	}
	//contacto
	form#contact{
		position:relative;
		width: 100%;
		h2{
			color: #040452;
			font-size: 1.8em;
			position: absolute;
			top: -22px;
			background-color: $blanco;
			font-weight: $bold;
		}
		label{
			width: 100%;
			padding: 0.8em 0px;
			color: #010673;
			float: left;
		}
		input[type="text"]{
			width: 100%;
			padding:5px;
			font-size: 0.9em;
		}
		textarea{
			width: 100%;
			height: 190px;
			padding:5px;
			font-size: 0.9em;
		}
		button[type="submit"]{
			width: 15%;
			background-color: #02599C;
			color: #FFF;
			padding: 5px 16px;
			border: medium none;
			margin-top: 1em;
			transition: all 0.3s ease 0s;
			&:hover{
				background-color: $azul_corporativo;
			}
		}
	}
}

section{
	#preguntas{
		background-color:$blanco;
		padding:0 15px 15px 15px;
		form#encuesta{
			article.color1,article.color2,article.color3,article.color4,article.color5{
				padding:1em;
				overflow:hidden;
				margin-bottom: 1em;
				p{
					color:$blanco;
					font-weight: $bold;
					text-align: left;
					font-size: 1.2em;
					& span{
						margin-right: 0.5em;
					}
				}
				input[type="radio"]{
					margin-right: 2em;	
				}
				a.btn--enc{
					color:$blanco;
					padding:8px 8px;
					text-align:center;
					font-weight: $bold;
					background-color:$azul_corporativo;
					display: block;
					margin-bottom: 1em;
					//width: 10%;
					font-size: 0.9em;
					text-decoration: none;
					position: relative;
					@include desde (base){
						width: 30%;
					}
					@include desde (tablet){
						width: 10%;
					}
				}
				#palomita{
					position:absolute;
					
					top: 5px;
					@include desde (movil){
						left: 80px;
						width: 25%;
					}
					@include desde (movil-h){
						left: 90px;
						width: 35%;
					}
					@includem desde (tablet){
						left: 80px;
						width: 35%;
					}
					@include desde (tablet-h){
						left: 110px;
					}
					@include desde (web){
						left: 110px;
					}
				}

				// .m-b{
				// 	margin-bottom: 0.5em;
				// }
			}
			article.color1{
				background-color:$verde1;
			}
			article.color2{
				background-color:$magenta;
			}
			article.color3{
				background-color:$cyan;
			}
			article.color4{
				background-color:$naranjo;
			}
			article.color5{
				background-color:$verde2;
			}
			//boton envio
			button[type="submit"]{
				padding:5px 12px;
				color:$blanco;
				border:none;
				background-color: $azul_corporativo;
				&:hover{
					background-color: $azul_corporativo_claro;
				}
				@include desde (tablet){
					margin:1em;
					width: 30%;
					padding: 1em 1.3em;
				}
			}
		}
	}
}	



form.Formulario-registro{
	padding: 30px 80px;
	background: #e5f7fd;
	p{
		color:#006b93;
		margin:10px;
		font-weight: bold;
		position: relative;
		@include desde (web){
			font-size: 1.2em;
		}
		span.numerales{
			position: absolute;
			background: #00aeef;
			color: #fff;
			border: 2px solid #006b93;
			width: 35px;
			height: 35px;
			display: block;
			text-align: center;
			line-height: 30px;
			left: -100px;
			top: 0;
			display: none;
			@include desde (web){
				display: block;
			}
		}
	}
	fieldset{
		padding: 0;
		margin:0;
		border: 0;
		// position: relative;
		label{
			width: 100%;
			display: block;
			margin:5px 0;
			color:#006b93;
			font-weight: bold;
			font-size: 0.8em;
		}
		input[type="text"]{
			width: 100%;
			padding: 3px;
			color:#006b93;
			font-size: 0.8em;
		}

		//radiiobuttons
		input[type="radio"]{
			margin-bottom: 1em;
		}
		span.Rbutt{
			font-size: 0.8em;
			font-weight: bold;
			color:#006b93;
			margin-left: 10px;
		}

		//desplegable conyuge y demases
		.estosDatos{
			padding: 5px 5px 15px 5px;
			background: #b7e8fa;
			float: left;
		}

		button.addChild{
			width: 100%;
			background: url(../img/plus.png) no-repeat left center;
			border: none;
			padding: 10px 10px 10px 25px;
			cursor: pointer;
			font-size: 0.8em;
			font-weight: bold;
			color:#006b93;
			text-align: left;
		}
		input.reg{
			background: #0299d2;
			color: #fff;
			text-align: center;
			border: 1px solid #006b93;
			margin:1em 0;
			padding:0.5em 1em;
		}
		select{
			width: 100%;
			display: block;
		}
	}
}



