doctype html
html(lang="es")
	head
		title Login / Súbete
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximun-scale=1")
		link(rel="stylesheet", href="css/estilos.css")
		script(src="http://code.jquery.com/jquery-1.11.2.min.js")
		script(src="js/scripts-min.js")
	body
		#strip
		header.grupo
			.caja.tablet-50.web-50
				#logo.arriba
					img(src="img/logo.png")
				#box--check
					#royalito-check
						img(src="img/royalito.png")
					#base--globo
						img(src="img/globo-cyan.png")
					p.garabatos #!$:@%=#!$:@%=
			.caja.tablet-50.web-50
				#alerta
					h1 Algo ocurrió mal :(
					p.alarm Tu correo o contraseña está incorrecta, haz click 
						a(href="") aquí  
						|para volver a intentarlo
			











