doctype html
html(lang="es")
	head
		title Login / Súbete
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximun-scale=1")
		link(rel="stylesheet", href="css/estilos.css")
		script(src="http://code.jquery.com/jquery-1.11.2.min.js")
		script(src="js/scripts-min.js")
	body
		#strip
		header.grupo
			.caja.base-100
				#logo
					a(href="index.html")
						img(src="img/logo.png")
				#logo_royal
					a(href="http://www.royalrental.cl", target="_blank", alt="Royal Rental")
						img(src="img/logo_royal.jpg")
		section.grupo
			#preguntas
				h1 Encuesta satisfacción al cliente

				form#encuesta
					article.color1
						p 
							span 1
							| ¿Le gusta la empresa?
						.caja
							//-input(type='radio', name='') 
							a.btn--enc(href="#") SI
								#palomita
									img(src="img/check.png")
						.caja
							//-input(type='radio', name='') 
							a.btn--enc(href="#") NO
								#palomita
									img(src="img/check.png")
					article.color2
						p 
							span 1
							| ¿Le gusta la empresa?
						.caja
							//-input(type='radio', name='') 
							a.btn--enc(href="#") SI
								#palomita
									img(src="img/check.png")
						.caja
							//-input(type='radio', name='') 
							a.btn--enc(href="#") NO
								#palomita
									img(src="img/check.png")
					article.color3
						p 
							span 3
							| ¿Le gusta la empresa?
						.caja
							//-input(type='radio', name='') 
							a.btn--enc(href="#") SI
								#palomita
									img(src="img/check.png")
						.caja
							//-input(type='radio', name='') 
							a.btn--enc(href="#") NO
								#palomita
									img(src="img/check.png")
					article.color4
						p 
							span 4
							| ¿Le gusta la empresa?
						.caja
							//-input(type='radio', name='') 
							a.btn--enc(href="#") SI
								#palomita
									img(src="img/check.png")
						.caja
							//-input(type='radio', name='') 
							a.btn--enc(href="#") NO
								#palomita
									img(src="img/check.png")
					article.color5
						p 
							span 5
							| ¿Le gusta la empresa?
						.caja
							//-input(type='radio', name='') 
							a.btn--enc(href="#") SI
								#palomita
									img(src="img/check.png")
						.caja
							//-input(type='radio', name='') 
							a.btn--enc(href="#") NO
								#palomita
									img(src="img/check.png")
					button(type="submit") Enviar



			
			











