doctype html
html(lang="es")
	head
		title Completa tus datos / Súbete
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximun-scale=1")
		link(rel="stylesheet", href="css/estilos.css")
		script(src="http://code.jquery.com/jquery-1.11.2.min.js")
		script(src="js/scripts-min.js")
	body.noBack
		#strip
		header.nono.grupo
			.caja.base-100.web-100
				#logo.arriba
					img(src="img/logo.png")
			.TopBox
				.caja.base-50
					.royalito_mono
						img(src="img/royalito.png", alt="")
				.caja.base-50
					p.noob Al ingresar al Programa Súbete recibirás beneficios para ti y toda tu familia. 
		form.Formulario-registro.grupo
			fieldset
				p Para comenzar, completa tus datos
					span.numerales.circulo 1
				.caja.base-100.tablet-50
					label(for="") RUT
					input(type="text")
				.caja.base-100.tablet-50
					label Nombre
					input(type="text")
				.caja.base-100.tablet-50
					label Apellido Paterno
					input(type="text")
				.caja.base-100.tablet-50
					label Fecha de nacimiento
					input(type="text")
				.caja.base-100.tablet-50
					label Teléfono / móvil
					input(type="text")
				.caja.base-100.tablet-50
					label Mail
					input(type="text")
				.caja.base-100.tablet-50
					label Área de trabajo
					input(type="text")
				.caja.base-100.tablet-50
					label Ingresa tu nueva contraseña
					input(type="text")
				.caja.base-100.tablet-50
					label Ingresa tu nueva contraseña
					input(type="text")
				.caja.base-100.tablet-50

			fieldset
				p Datos de cargas familiares (opcional)
					span.numerales.circulo 2
				.caja.base-100
					input(type='radio', name='', value='')
					span.Rbutt No tengo cargas familiares
				.caja.base-100
					input(type='radio', name='', value='')
					span.Rbutt Tengo cargas familiares
				.caja.base-100
					p Datos cónyuge
				.estosDatos
					.caja.base-100.tablet-50
						label(for="") Nombre
						input(type="text")
					.caja.base-100.tablet-50
						label Apellido paterno
						input(type="text")

					.caja.base-100.tablet-50
						label(for="") Apellido materno
						input(type="text")
					.caja.base-100.tablet-50
						label Fecha de nacimiento
						input(type="text")

					.caja.base-100.tablet-50
						label(for="") RUT
						input(type="text")
					.caja.base-100.tablet-50
						label Carga Isapre / Fonasa
						select
							option elegir
				.caja.base-100.tablet-50
					p Datos Hijo
				.estosDatos
					.caja.base-100.tablet-50
						label(for="") Nombre
						input(type="text")
					.caja.base-100.tablet-50
						label Apellido paterno
						input(type="text")

					.caja.base-100.tablet-50
						label(for="") Apellido materno
						input(type="text")
					.caja.base-100.tablet-50
						label Fecha de nacimiento
						input(type="text")

					.caja.base-100.tablet-50
						label(for="") RUT
						input(type="text")
					.caja.base-100.tablet-50
						label Sexo
						select
							option elegir

					.caja.base-100.tablet-50
						label Grado escolar
						select
							option elegir

					.caja.base-100.tablet-50
						label Carga Isapre / Fonasa
						select
							option elegir



				.caja.base-100
					button.addChild(type="button", value="Agregar otro hijo") Agregar otro hijo
				.caja.base-100
					input.reg(type="submit", value="Registrase")















