doctype html
html(lang="es")
	head
		title Login / Súbete
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximun-scale=1")
		link(rel="stylesheet", href="css/estilos.css")
		script(src="http://code.jquery.com/jquery-1.11.2.min.js")
		script(src="js/scripts-min.js")
	body
		#strip
		header.grupo
			.caja.web-50
				#logo.arriba
					img(src="img/logo.png")
				#box--login
					h1 Te invitamos a ser parte del programa de beneficios de Royal Rental.
					form#login
						label Correo electrónico
						input(type="text")
						label Contraseña
						input(type="password")
						button(type="submit") Ingresar
						.caja.no-padding
							button.recuperar Recuperar contraseña

			.caja.web-50
				#box--blue
					#royalito
						img.topR(src="img/royalito.png")
					#linea_texto
						img(src="img/globo.png")
						h2 Si aún no tienes una cuenta con nosotros te invitamos a registrarte
				#box--naranja
					//-h2 Si aún no tienes una cuenta con nosotros te invitamos a registrarte
					form#registrate
						button(type="submit") Regístrate aquí











