doctype html
html(lang="es")
	head
		title Inicio / Qué es Súbete
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximun-scale=1")
		link(rel="stylesheet", href="css/estilos.css")
		script(src="http://code.jquery.com/jquery-1.11.2.min.js")
		script(src="js/scripts-min.js")
	body
		header.grupo
			.caja.base-100
				#logo
					a(href="index.html")
						img(src="img/logo.png")
				#logo_royal
					a(href="http://www.royalrental.cl", target="_blank", alt="Royal Rental")
						img(src="img/logo_royal.jpg")
				#admin-header
					#admin--data
						img.circulo(src="img/user.jpg")
						span.nombre_usuario Jorge Ortiz L.
					#cuenta
						ul
							li
								a.micuenta(href="mi-cuenta.html") Mi cuenta
							li
								a.cerrar(href="#") Cerrar
			.caja.base-100
				#menu
					ul
						li
							a(href="que-es-subete.html")¿Qué es Súbete?
						li
							a(href="videos.html") Videos
						li
							a(href="contacto.html") Contacto
		section.grupo
			.caja.base-100
				nav.navegacion
					ul
						li
							a.seguridad(href="#") Seguridad
						li
							a.productividad(href="#") Productividad
						li
							a.responsabilidad(href="#") Responsabilidad
						li
							a.superacion(href="#") Superación
						li
							a.optimismo(href="#") Optimismo
						li
							a.profesionalismo(href="#") Profesionalismo
						li
							a.catalogo(href="#") Catálogo
						li
							a.beneficios(href="#") Beneficios

		section#search.grupo
			.caja.web-100
				form#busqueda
					input(type="text", placeholder="buscar dentro del sitio")
					button(type="submit") Buscar
		#main.grupo
			article
				.caja.web-50
					.box--info1
						h1 ¿QUÉ ES SÚBETE?
						p Súbete es la primera plataforma que busca unir a los operadores de Chile, en un programa lleno de beneficios y actividades en pro del perfeccionamiento de quienes lo integran.
				.caja.web-50
					.box--info2
						h1 ¿QUIÉNES PUEDEN SER PARTE DE SÚBETE?
						p Todos aquellos operadores que pertenezcan a empresas donde se realicen labores de carga a través de máquinas Royal Rental, tendrán un espacio en Súbete, pudiendo acceder a todos los beneficios que esta plataforma entrega.
			article
				.caja.web-50
					.box--info3
						h1 CONOCE LOS PILARES SÚBETE:
						p El programa Súbete se sustenta y estructura bajo 6 pilares, los cuales hemos considerado fundamentales para lograr el desarrollo integral de los profesionales del rubro con el fin de contar con operadores íntegros en el ámbito profesionaly personal. 
				.caja.web-50
					.box--info4
						#icon--icon.derecha
							img(src="img/maletin.png")
						h1 CURSOS DE PERFECCIONAMIENTO
						p Accede a cursos de capacitación, talleres y charlas de diversas áreas relacionadas con el rubro de la carga, bodegaje y logística con el fin de desarrollar  y potenciar tus habilidades.
			article
				.caja.web-50
					.box--info5
						#icon--icon.derecha
							img(src="img/balon.png")
						h1 ACTIVIDADES EXTRAPROGRAMÁTICAS
						p  Disfruta de actividades para ti y tu familia, para generar momentos de distensión y acercamiento entre quienes se desenvuelven en el rubro
				.caja.web-50
					.box--info6
						#icon--icon.derecha
							img(src="img/bolsa.png")
						h1 DESCUENTOS EXCLUSIVOS SOCIOS DEL PROGRAMA SÚBETE
						p Canjea descuentos exclusivos en marcas asociadas al programa.


dwqwd
		footer.total
			.grupo
				.caja.web-25
					#logo--footer
						a(href="http://www.royalrental.cl", target="_blank")
							img(src="img/logo--footer.png")
				.caja.web-25
				.caja.web-25			
				.caja.web-25
					form#footer.right
						p Escríbenos si tienes  dudas o sugerencias
						textarea(name='textarea',  placeholder="Escríbenos si tienes  dudas o sugerencias") 
						button(type="submit") Enviar







