doctype html
html(lang="es")
	head
		title Inicio / Qué es Súbete
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximun-scale=1")
		link(rel="stylesheet", href="css/estilos.css")
		script(src="http://code.jquery.com/jquery-1.11.2.min.js")
		script(src="js/scripts-min.js")
	body
		header.grupo
			.caja.base-100
				#logo
					a(href="index.html")
						img(src="img/logo.png")
				#logo_royal
					a(href="http://www.royalrental.cl", target="_blank", alt="Royal Rental")
						img(src="img/logo_royal.jpg")
				#admin-header
					#admin--data
						img.circulo(src="img/user.jpg")
						span.nombre_usuario Jorge Ortiz L.
					#cuenta
						ul
							li
								a.micuenta(href="mi-cuenta.html") Mi cuenta
							li
								a.cerrar(href="#") Cerrar
			.caja.base-100
				#menu
					ul
						li
							a(href="que-es-subete.html")¿Qué es Súbete?
						li
							a(href="videos.html") Videos
						li
							a(href="contacto.html") Contacto
		section.grupo
			.caja.base-100
				nav.navegacion
					ul
						li
							a.seguridad(href="#") Seguridad
						li
							a.productividad(href="#") Productividad
						li
							a.responsabilidad(href="#") Responsabilidad
						li
							a.superacion(href="#") Superación
						li
							a.optimismo(href="#") Optimismo
						li
							a.profesionalismo(href="#") Profesionalismo
						li
							a.catalogo(href="#") Catálogo
						li
							a.beneficios(href="#") Beneficios

		section#search.grupo
			.caja.web-100
				form#busqueda
					input(type="text", placeholder="buscar dentro del sitio")
					button(type="submit") Buscar
		#main.grupo
			article
				.caja.web-100
					.ed-video
						iframe(width='420', height='315', src='https://www.youtube.com/embed/dq5TWOYS2G8', frameborder='0', allowfullscreen='')
			article.mini
				.caja.tablet-25.web-25
					img(src="img/poster.jpg")
				.caja.tablet-25.web-25
					img(src="img/poster.jpg")
				.caja.tablet-25.web-25
					img(src="img/poster.jpg")
				.caja.tablet-25.web-25
					img(src="img/poster.jpg")
		footer.total
			.grupo
				.caja.web-25
					#logo--footer
						a(href="http://www.royalrental.cl", target="_blank")
							img(src="img/logo--footer.png")
				.caja.web-25
				.caja.web-25			
				.caja.web-25
					form#footer.right
						p Escríbenos si tienes  dudas o sugerencias
						textarea(name='textarea',  placeholder="Escríbenos si tienes  dudas o sugerencias") 
						button(type="submit") Enviar







